*{
  font-family: serif;
  max-width: 1170px;
  margin:0 auto;
}

/*header navigation固定*/
.look{
  position: fixed;
  top: 0;
  z-index: 10;
}

header{
  background-color: #fff;
  height: 65px;
  padding-bottom: 5px;
  width: 1170px;
}
header img{
  height:100%;
  padding: 0 15px 0 30px;
  float:left;
}
header h1{
 line-height: 65px;
 float:left;
 margin: 0 auto;
 font-weight: normal;
 color:rgba(49, 84, 90, 1);
}
header a{
  text-decoration: none;
  line-height:65px;
  float:right;
  margin: 0 auto;
  padding: 0 30px;
  color:#000;
  transition: 0.5s ;
  color: rgba(49, 84, 90, 1);
}
header a:hover{
  background-color:rgba(49, 84, 90, 1);
  opacity: 0.7;
  color:#fff;
}

.m-gnavi {
  list-style: none;
  background-color:rgba(49, 84, 90, 1);
  padding: 0;
}
.m-gnavi li{
  float: left;
  width: 12.5%;
  text-align: center;
  background-color: rgba(49, 84, 90, 1);
  padding:10px 0;
  transition: 0.5s ;
}
.m-gnavi li a{
text-decoration: none;
color:#fff;
}
.m-gnavi li:hover{
  background-color: rgba(49, 84, 90, 0.7);
}
.clear{
  clear: left;
}

.top-wrapper{
  margin-top: 116px;
  height: 400px;
  background-image: url(img/top-img.jpeg);
  background-size: cover;
  position: relative;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
}
.top-wrapper p {
  position: absolute;
  margin:0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.main{
  max-width: 1170px;
}
/*side-bar*/
.side-bar{
  width:25%;
  float:right;
  background-color: #fff;
}
.m-side-list_info {
  list-style: none;
  padding: 0;
  width: 100%;
}
.m-side-list_info a{
  display: block;
  text-decoration: none;
  text-align: center;
  color:rgba(49, 84, 90, 1);
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid rgba(49, 84, 90, 1);
  transition: 0.5s ;
}
.m-side-list_info a:hover{
  background-color:rgba(49, 84, 90, 1);
  color: #fff;
  opacity: 0.7;
}


/*タイトル編集*/
.contents-title{
 padding: 5px 30px;
 background-color: rgba(49, 84, 90, 1);
 color: #fff;
 font-weight: normal;
 border-bottom: 1px solid #fff;
}

/*リスト編集*/
.contents-news, .m-section, .object{
  background-color: #f0f0f0;
  width: 75%;
  float:left;
}
 dl{
  margin: 0 auto;
  margin:15px 60px 30px 60px;
  padding: 5px;
  background-color: #fff;
}
.contents-news dt{
  float: left;
  color: rgba(49, 84, 90, 1);
}
.contents-news dt::after{
  white-space: pre-wrap;
  color: rgba(49, 84, 90, 1);
  content:"  :  ";
}
.contents-news dd{
 text-decoration: none;
 color: rgba(49, 84, 90, 1);
}
.contents-news dd a , .m-section dt a{
  text-decoration: none;
  color: rgba(49, 84, 90, 1);
  transition: 0.5s ;
}
.contents-news dd a:hover, .m-section dt:hover{
  text-decoration: underline;
}
.taR{
  text-align: right;
}
.taR a{
  color: rgba(31,100,10,1);
  text-decoration: underline;
}

.menu__item {
  background: #fff;
  color: #fff;
  display: block;
  margin-bottom: 1px;
  position: relative;
  height: auto;
}
.menu__item__link {
  background-color: rgb(128, 191, 145);
  color: #fff;
  display: block;
  padding: 15px;
}

.submenu {
  background: #fff;
  padding:5px 30px ;
  display: none;
}
.submenu__item {
  list-style: none;
  border: 1px solid rgb(128, 191, 145);
  color: #222;
  padding: 10px;
}
.submenu__item a{
  text-decoration: none;
  color: rgb(128, 191, 145);
}


/*footer*/
footer{
  width: 100%;
  height: 100px;
  background-color: #cccccc;
  float: left;
  color:#000;
  text-align: center;
}

.footer-left{
  margin-top: 20px;
  float: left;
  padding-left: 100px;
}
.footer-left h2 ,.footer-left p{
  color: rgba(49, 84, 90, 1);
  font-weight: normal;
}
.footer-right{
  float: left;
  margin-left: 100px;
}
.footer-right li{
  float: left;
  list-style: none;
  line-height: 100px;
  padding-right: 30px;
}
.footer-right li a{
  text-decoration: none;
  color: rgba(49, 84, 90, 1);
}
.footer-right li a:hover{
  text-decoration: underline;
}
